<header>
    <h1 id="h1">{{ Pagename }}</h1>

    <nav class="navbar">
        <ul class="navlist">

            {{#each menuitem }}
                <li class="navlist"> 
                    <a href='{{this.location}}'>{{this.Linkename}}</a>   
                </li>

            {{/each}}
        </ul>
    </nav>
</header>