<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Security-Policy" content="font-src * data:;">
    <title>cs340 Final Project</title>

    <link rel="stylesheet" href="/asset/style.css" type="text/css" media="screen">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.runtime.js"></script>
    <!----    <script src="/pagegenerator.js"></script>      -->
    <script src="/asset/Events.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
    {{> header }}
    <main>
        {{{body}}}
    </main>
</body>
</html>