<main class="main">
    <div class="graph">
        <div class="picture">
            <img src='./asset/pictures/OSU.JPG' alt="" width="500" height="500">
            <i>my project is resturant management system. It allows use to login and update database as employee, manager or chef.</i>
        </div>

    </div>

</main>