<main class="main">
<div class="graph">
    <div class="picture">
        <img src='/asset/pictures/OSU.JPG' alt="" width="500" height="500">
        <i>this is picture description</i>
    </div>

</div>

<form method="post" id="check">
    <p>Onum</p>
    <input type="number" name="Onum" id="info" value="Onum">Onum<br>

    <input type="submit" value="search" id="checkButton">
</form>

</main>