<main class="main">
    <div class="graph">
        <div class="picture">
            <img src='/asset/pictures/OSU.JPG' alt="" width="500" height="500">
            <i>this is picture description</i>
        </div>

    </div>
    <select id="categories">
        <option label="employee">Employee</option>
        <option label="chef">Chef</option>
        <option label="manager">Manager</option>
    </select>

    <div class="login">
        <input type="text" name="ID" id="id">
        <input type="text" name="password" id="password">
        <button onclick="loginValidate()" type="button" id="login_button">Login</button>
    </div>

</main>

