<main class="main">
    <div class="graph">
        <div class="picture">
            <img src='ff14.JPG' alt="" width="500" height="500">
            <i>this is picture description</i>
        </div>

    </div>

    <div class="login">
        <input type="text" id="id" value="ID">
        <input type="text" id="password" value="password">
        <button type="button" id="login_button">Login</button>
    </div>

</main>