<main class="main">
    <div class="graph">
        <div class="picture">
            <img src='/asset/pictures/OSU.JPG' alt="" width="500" height="500">
            <i>this is picture description</i>
        </div>

    </div>

    <div class="logout">
        <button onclick="Logout()" type="button" id="logout_button">Logout</button>
    </div>

</main>