<main class="main">
    <div class="graph">
        <div class="picture">
            <img src='/asset/pictures/OSU.JPG' alt="" width="500" height="500">
            <i>this is picture description</i>
        </div>

    </div>

    <form method="post" id="register">
        <input type="number" name="id" id="id" value="id"><br>
        <input type="text" name="name" id="info" value="name"><br>
        <input type="number" name="password" id="password" value="password"><br>
        <input type="number" name="salary" id="info" value="salary"><br>
        <input type="number" name="mgr_mid" id="info" value="manager id"><br>
        <input type="date" name="date" id="info" value="date"><br>

        <input type="submit" value="register" id="register_button">
    </form>

    <script src="/asset/submitform.js"></script>
</main>
