<main class="main">
    <div class="graph">
        <div class="picture">
            <img src='/asset/pictures/OSU.JPG' alt="" width="500" height="500">
            <i>this is picture description</i>
        </div>

    </div>

    <form method="post" id="schedule">

        <input type="date" name="date" id="date" value="date"><br>
        <input type="text" name="timeslot" id="timeslot" value="timeslot"><br>
        <input type="submit" onclick="schedulecheck()" value="schedule" id="schedule_button">

    </form>

    <script src="/asset/submitform.js"></script>
</main>