<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>welcome this is resturant management system</title>

    <link rel="stylesheet" href="style.css" media="screen" >
<!----    <script src="/pagegenerator.js"></script>      -->
</head>
<body>
   <header>
        <h1 id="Home">Home</h1>

        <nav class="navbar"> 
            <ul class="navlist">
                <li class="navlist"><a href="/menu">Menu</a></li>
                <li class="navlist"><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>

    <main class="main">
       <div class="graph">
           <div class="picture">
               <img src='ff14.JPG' alt="" width="500" height="500">
               <i>this is picture description</i>
           </div>

        </div>

        <div class="login">
            <input type="text" id="id" value="ID">
            <input type="text" id="password" value="password">
            <button type="button" id="login_button">Login</button>
        </div>

    </main>
</body>
</html>